{:dependencies [[rewrite-cljs "0.4.4" :exclusions [[org.clojure/clojurescript]]]
                [cljfmt "0.5.7" :exclusions [[rewrite-cljs]]]]

 :source-paths ["cljc"]

 :builds       {:extension {:target    :node-library
                            :exports   {:formatText calva.fmt.formatter/format-text
                                        :jsify calva.js-utils/jsify
                                        :cljify calva.js-utils/cljify}
                            :output-to "cljc_out/calva_fmt.js"}}}