{:dependencies [[cljfmt "0.6.2"]
                #_[zprint "0.4.11"]]

 :source-paths ["lib-src" "lib-test"]

 :builds       {:calva-fmt-lib
                {:target    :node-library
                 :exports   {:formatText calva.fmt.formatter/format-text
                             :formatTextAtRange calva.fmt.formatter/format-text-at-range
                             :formatTextAtIdx calva.fmt.formatter/format-text-at-idx
                             :formatTextAtIdxOnType calva.fmt.formatter/format-text-at-idx-on-type
                             :inferParens calva.fmt.inferer/infer-parens
                             :jsify calva.js-utils/jsify
                             :cljify calva.js-utils/cljify}
                 :output-to "lib/calva_fmt.js"}
                :test
                {:target    :node-test
                 :output-to "test-out/tests.js"
                 :ns-regexp "-test$"
                 :autorun   true}}}